body {
    background-color:lightgrey
}

.show-for-large a {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    color:black;
    display: inline-block;
    margin-left: 10px;
}
p1 {
    padding: 20px;
    font-size: 20px; /* Adjust the font size as needed */
    font-weight: bold; /* Add font-weight to make it bold or adjust as needed */
    text-decoration: none; /* Remove underline from links */
    margin-right: none; /* Add some space between links (adjust as needed) */
    color:black; /* Change the text color as desired */
}
p4 {
    padding-left: 15px;
    padding-right: 15px;

}
h1 {
    padding: 10% 20%;
}
h2 {
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    color:rgb(27, 68, 56);
}
h3 {
    color:rgb(28, 103, 103);
}


.button.hide-for-large {
    background-color: #333;
    color: white;
    width: 100px;
    height: 50px;
}
.float-right {
    float:right
}
.resumebox {
    background-color: rgb(242, 242, 242);
    border: 3px solid black;
    margin: 10px 1px;
    height: 200px;
    padding: 10px;
}
.funbox {
    background-color: rgb(242, 242, 242);
    border: 3px solid black;
    margin: 10px 1px;
    height: 500px;
    padding: 10px;
}
.header {
    background-color: white;
}
#profpic {
    padding-top: 50px;
}